<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NG BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" [routerLink]="['/category/create']">Categorias</a>
        </li>
          <li class="nav-item " *ngFor="let category of categories">
            <a class="nav-link" [routerLink]="['category/post', category.id]">{{category.name}}</a>
          </li>
      </ul>

        <ul class="navbar-nav navbar-rigt " *ngIf="!identity">
          <li class="nav-item  ">
            <a class="nav-link" href="#" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" [routerLink]="['/registro']">Registrarse</a>
          </li>
        </ul>

      <ul class="navbar-nav navbar-rigt " *ngIf="identity && identity.name">
        <div *ngIf="identity && identity.image" class="nav-item">
          <img src="{{ url+'getImage/'+identity.image }}" alt="" class="avatar-nav">
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name +" "+ identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" [routerLink]="['/profile/'+identity.sub]">Perfil</a>
            <a class="dropdown-item" href="#" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" href="#" [routerLink]="['/post/create']">Crear entrada</a>
            <a class="dropdown-item" href="#" id="logout"  [routerLink]="['/logout/1']">log out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      
      
    </div>
  </nav>


<div id="content">
  <router-outlet></router-outlet>
</div>
</div>