<h2>Crear categoria</h2>
<form action="#" #createCategoryForm="ngForm" (ngSubmit)="onSubmit(createCategoryForm)">
   <p class="alert alert-danger" *ngIf="status == 'error'">No se pudo crear la categoria</p>
   <p class="alert alert-success" *ngIf="status == 'success'">Categoria creada exitosamente</p>

    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" 
        required pattern="[a-zA-Z]+">

        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            El nombre no es valido
        </small>
    </div>
    
    <input type="submit" value="Crear" class="btn btn-success" [disabled]="createCategoryForm.invalid">

</form>